@using System.Collections.Generic
@using RunTogether.Data
@using Microsoft.AspNetCore.Identity
@using RunTogether.Areas.Identity
@using RunTogether.Shared.QR
@using RunTogether.Shared.Forms
@using RunTogether.Shared.Map 

@inject IJSRuntime jsRuntime
@inject ApplicationDbContext dbContext
@inject UserManager<ApplicationUser> userManager
@inject DialogService dialogService


<RadzenButton Icon="drirections_run" Text="Opret nyt løb " Click="@(args => dialogService.Open<CreateNewRun>($"Opret nyt løb",
                        new Dictionary<string, object>(),
                        new DialogOptions(){ Width = "700px", Height = "530px" }))" />

<div class="row">
    <div class="col-md-6">
        <RadzenGrid @ref="runTable" Data="@runs" AllowFiltering="true" AllowSorting="true" TItem="Run" RowSelect="@(args => QueryForRunners(args))">
            <Columns>
                <RadzenGridColumn TItem="Run" Property="Name" Title="Løb"></RadzenGridColumn>
                <RadzenGridColumn TItem="Run" Property="StartDate" Title="Start Dato"></RadzenGridColumn>
                <RadzenGridColumn TItem="Run" Property="EndDate" Title="Slut Dato"></RadzenGridColumn>
                <RadzenGridColumn TItem="Run" Property="Route" Title="Rute"></RadzenGridColumn>
                <RadzenGridColumn TItem="Run" Property="QRString" Title="QR Kode"></RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>
    <div class="col-md-6">
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="Runners">
                   @if (run.Name == null)
                   {
                    <p>Vælg et løb for at se løbere</p>
                   }
                   else
                   {
                    <RadzenButton Icon="drirections_run" Text=@($"Opret ny løber til {run.Name}") Click="@(args => dialogService.Open<CreateNewRunner>($"Opret ny løber til {run.Name}",
                        new Dictionary<string, object>() { { "selectedRun", run } },
                        new DialogOptions() { Width = "700px", Height = "530px" }))" />

                    <RadzenGrid @ref="runnerTable" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@runners" TItem="ApplicationUser">
                        <Columns>
                            <RadzenGridColumn TItem="ApplicationUser" Property="runners.FirstName" Title="Fornavn" />
                            <RadzenGridColumn TItem="ApplicationUser" Property="runners.LastName" Title="Efternavn" />
                            <RadzenGridColumn TItem="ApplicationUser" Property="runners.Email" Title="Email" />
                        </Columns>
                    </RadzenGrid>
                   }
                </RadzenTabsItem>

                <RadzenTabsItem Text="Route">
                    <LeafletMap></LeafletMap>
                </RadzenTabsItem>

                <RadzenTabsItem Text="QR Kode">
                    <div>
                        <RadzenButton Click="@((args) => PrintImage())" Text="print billede" Style="margin-bottom: 20px; width: 150px" />

                        <RadzenDropDown @bind-Value="color" AllowClear="true" TValue="string" Data="@colorList" TextProperty="Name" ValueProperty="code" Style="margin-bottom: 20px" />

                        <RadzenSlider @bind-Value="slider" TValue="int" Min="0" Max="100" Style="margin-bottom: 20px;" />

                        <QRGenerator code="@run.QRString" size=@($"{slider}%") color="@color" />
                    </div>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>