@page "/admin/{id:int}/route"

@layout RunTogether.Shared.Layouts.OrganiserLayout

@using Microsoft.AspNetCore.Identity
@using RunTogether.Shared.Forms
@using RunTogether.Areas.Identity
@using System.Collections.Generic
@using RunTogether.Data
@using Microsoft.EntityFrameworkCore;
@using RunTogether.Shared.Map

@inject DialogService dialogService
@inject UserManager<ApplicationUser> userManager
@inject ApplicationDbContext dbContext
@inject IJSRuntime JsRunTime
@inject NotificationService NotificationService

@attribute [Authorize(Roles = IdentityRoleTypes.Organiser)]

<div class="row">
    <div class="col-md-10">

        <LeafletMapEditor sendToParent="ReciveFromChild" Run="@run"></LeafletMapEditor>

    </div>
    <div class="col-md-2">
        <h3></h3>
        <RadzenCard>
            <RadzenTemplateForm TItem="StageAssignment" Data="@AssignmentPlaceholder" Submit="()=> Save()">
                <div class="scrollableRZCard row" Style="max-height: 30vh;">
                    @for (int i = 0; i < rows; i++)
                    {
                        int i2 = i;
                        <div Style="margin: 0 0 10px 0;">
                            <RadzenLabel Text=@($"{i+1}. Løber") />
                            <RadzenDropDown Name="DropDown" AllowClear="false" TValue="ApplicationUser" Data="@run.Runners" @bind-Value="@selectedStage.AssignedRunners[i2].Runner" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            AllowFiltering="true" Placeholder="Vælg løber..." TextProperty="LastName" Change="args => Change((ApplicationUser)args, i2)" Style="width:100%; margin: 0 0 1rem 0">
                                <Template Context="data">
                                    @((data as ApplicationUser).FirstName)  @((data as ApplicationUser).LastName)
                                    <br>
                                    (@((data as ApplicationUser).Email))
                                </Template>
                            </RadzenDropDown>
                            <div>
                                <RadzenButton Icon="delete" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Danger" Click="@(args => Delete(i2))" />
                            </div>
                        </div>
                    }
                </div>
                @if (selectedStageId != -1)
                {
                    <hr>
                    <div class="row">
                        <RadzenLabel Text=@($"Tilføj løber") />
                        <RadzenDropDown Name="DropDown" AllowClear="false" TValue="ApplicationUser" Data="@run.Runners" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        AllowFiltering="true" Placeholder="Vælg løber..." TextProperty="LastName" Change="args => Add((ApplicationUser)args)" Style="width:100%; margin: 0 0 1rem 0" @bind-Value="@RunnerToAdd">
                            <Template Context="data">
                                @((data as ApplicationUser).FirstName)  @((data as ApplicationUser).LastName)
                                <br>
                                (@((data as ApplicationUser).Email))
                            </Template>
                        </RadzenDropDown>
                        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Gem" Style="width: 100%; margin: 0 0 1rem 0"  />
                    </div>
                }
                else
                {
                    <div class="row">
                        <p>Vælg en rute for at tilføje løbere</p>
                    </div>
                }
            </RadzenTemplateForm>
            @if (selectedStageId != -1)
            {
                <div class="row">
                    <RadzenButton style="width: 100%; margin: 0 0 1rem 0" Click=@(args => DeleteStage()) Text="Slet Segment" ButtonStyle="ButtonStyle.Danger" Icon="delete_forever"/>
                </div>
            }
        </RadzenCard>
        <RadzenCard>
            <RadzenTemplateForm TItem="StageAssignment" Data="@AssignmentPlaceholder" Submit="()=> Save()">
                @if (selectedStageId != -1)
                {
                    <div class="row">
                        <RadzenLabel Text=@($"Tilføj sponser") />
                        <RadzenDropDown Name="DropDown" AllowClear="false" TValue="Sponsor" Data="@SponsorList" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        AllowFiltering="true" Placeholder="Vælg Sponsor..." TextProperty="Name" Style="width:100%; height: auto;" @bind-Value="@selectedStage.Sponsor">
                            <Template Context="sponsorData">
                                <img class="rounded m-1" style="max-width: 50px; max-height: 50px" src="@((sponsorData as Sponsor).Image)" />  @((sponsorData as Sponsor).Name)
                            </Template>
                        </RadzenDropDown>
                    </div>
                    <div class="row">
                        <RadzenLabel Text=@($"Sponser besked") />
                        <RadzenTextArea Placeholder="Enter here..." Style="width:100%" @bind-Value="selectedStage.Message" />
                    </div>
                }
                else
                {
                    <div class="row">
                        <p>Vælg en rute for at tilføje løbere</p>
                    </div>
                }
            </RadzenTemplateForm>
        </RadzenCard>
    </div>
</div>
