@page "/admin/{id:int}/route"
@layout RunTogether.Shared.Layouts.OrganiserLayout

@using Microsoft.AspNetCore.Identity
@using RunTogether.Shared.Forms
@using RunTogether.Areas.Identity
@using System.Collections.Generic
@using RunTogether.Data
@using Microsoft.EntityFrameworkCore;
@using RunTogether.Shared.Map

@inject DialogService dialogService
@inject UserManager<ApplicationUser> userManager
@inject ApplicationDbContext dbContext

<h3>Route</h3>
<div class="row">
    <div class="col-md-10">

        <LeafletMapEditor sendToParent="reciveFromChild" Run="@run"></LeafletMapEditor>

    </div>
    <div class="col-md-2">
        <h3></h3>
        <RadzenCard>
            
            @for (int i = 0 ; i < rows; i++)
            {
                int i2 = i;
                <div class="row">
                    <div class="col-md-8">
                        <RadzenLabel text=@($"{i+1}. Løber") />
                        <RadzenDropDown AllowClear="true" TValue="ApplicationUser" Data="@run.Runners" @bind-Value="@selectedStage.AssignedRunners[i2].Runner" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                         AllowFiltering="true" Placeholder="Vælg løber..." TextProperty="LastName" Style="margin-bottom: 10px" Change="args => Change((ApplicationUser)args, i2)">
                            <Template>
                                @((context as ApplicationUser).FirstName)  @((context as ApplicationUser).LastName)
                                <br>
                                (@((context as ApplicationUser).Email))
                            </Template>
                        </RadzenDropDown>
                    </div>
                    <div class="col-md-4">
                        <br>
                        <RadzenButton Icon="delete" Size="ButtonSize.Small" Style="margin-top:10px" Click="@(args => Delete(i2))"/>
                    </div>                
                </div>
            }
            <div class="row">
                <RadzenButton Icon="add_box" Size="ButtonSize.Small" Click="Add"/><br>
                <RadzenButton Icon="save" Text="Gem" Click="Save" />
            </div>
        </RadzenCard>
    </div>
</div>
